<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [4]:
# ANSWER
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

rock_csv = 'C:/Yan/Labs/DATA/rock.csv'
rock = pd.read_csv(rock_csv)
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [6]:
# ANSWER
rock.columns = rock.columns.str.lower()
rock.columns = rock.columns.str.replace(' ', '_')
rock.columns = rock.columns.str.replace('[?*]','', regex=True)
rock.columns

Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [8]:
# ANSWER
has_nulls = rock['release_year'].isnull().any()
print(has_nulls)
rock['release_year'] = rock['release_year'].fillna(0)
rock['release_year']

True

0       1982
1          0
2       1981
3       1980
4       1975
        ...
2225       0
2226    1981
2227    1975
2228    1983
2229    1973
Name: release_year, Length: 2230, dtype: object

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [10]:
# ANSWER
rock.dtypes

song_clean      object
artist_clean    object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [12]:
# ANSWER
numerical_rock = rock.select_dtypes(include=['number'])
min_values = numerical_rock.min()
max_values = numerical_rock.max()
print("Minimum Values for Numerical Columns:")
print(min_values)
print("\nMaximum Values for Numerical Columns:")
print(max_values)

Minimum Values for Numerical Columns:
first        1
year         0
playcount    0
fg           0
dtype: int64

Maximum Values for Numerical Columns:
first          1
year           1
playcount    142
fg           142
dtype: int64

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [15]:
# ANSWER
def check_song_details(row):
    song = row['song_clean']
    artist = row['artist_clean']
    release_before_1970 = int(row['release_year']) < 1970
    print(f"Song: {song}")
    print(f"artist: {artist}")
    print(f"Released before 1970: {'Yes' if release_before_1970 else 'No'}")

#for index, row in rock.iterrows():
#    check_song_details(row)
#    print("-" * 30)

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [17]:
# ANSWER
def convert_to_numeric(df, column_name):
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
    return df

### Apply this last function to your dataset

In [19]:
# ANSWER
rock = convert_to_numeric(rock, 'release_year')
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

### 'Describe' the new DataFrame

In [21]:
# ANSWER
rock.describe()

       release_year   first         year    playcount           fg
count   2229.000000  2230.0  2230.000000  2230.000000  2230.000000
mean    1465.988784     1.0     0.741256    16.872646    15.048430
std      866.834789     0.0     0.438043    25.302972    25.288366
min        0.000000     1.0     0.000000     0.000000     0.000000
25%        0.000000     1.0     0.000000     1.000000     0.000000
50%     1973.000000     1.0     1.000000     4.000000     3.000000
75%     1981.000000     1.0     1.000000    21.000000    18.000000
max     2014.000000     1.0     1.000000   142.000000   142.000000

>



---



---



> > > > > > > > > Â© 2025 Institute of Data


---



---